body, .botui-container {
    background-color: #D5FFC0;
}

.botui-message-content.text {
    color: #EAF2E7;
    
}

.botui-message-content {
    background: #439487;
}

.botui-container {
    max-width: 600px; 
    margin: auto;
}

.human.botui-message-content {
    background-color: #1BA4C7;
}


button.botui-actions-buttons-button {
    margin: 5px;
    background-color: #1BA4C7;
    color: #EAF2E7;
  
}

